<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kve.ems.dao.EmpDAO">

    <!--查询所有-->
    <select id="findAll" resultType="com.kve.ems.entity.Emp">
        select id,name,salary,age,bir from t_emp
    </select>

    <!--增加员工-->
    <select id="save" resultType="com.kve.ems.entity.Emp">
        insert into t_emp values(#{id},#{name},#{salary},#{age},#{bir})
    </select>
</mapper>